body{
    margin: 0;
}
#map{
    width: 100vw;
    height: calc(100vh - 90px);
}
#resultDiv{
    position: absolute;
    right: 5px;
    top: 0;

    background-color: rgb(0, 0, 0, 0.75);
    color: white;
    width: calc(100vw - 10px);
    height: 30px;
    font-size: 15px;
    text-align: right;

    box-sizing: border-box;
    padding: 5px;
    z-index: 101;
}
#underbar{
    width: 100vw;
    height: 125px;
    position: absolute;
    bottom: 0;
    z-index: 100;
}
#setUnderBar{
    display: flex;

    width: 100vw;
    height: 90px;
    background: linear-gradient( to right, #1e201f 10%, gray 50%, #1e201f);
    position: inherit;

    align-items: center;
    justify-content: center;

    z-index: 105;
    bottom: 0;
}
#setUnderBar > div{
    display: flex;
}
#peo1{
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 50%;
}
.mylocate{
    display: flex;
    font-size: 60px;
    font-weight: bolder;
    height: 50px;
    line-height: 50px;
    color: white;

    position: absolute;
    z-index: 102;
    top: calc(50% - 100px);
    left: 50%;
    transition: all 0.5s;
    transform: translate(-50%, -20%);
    filter: opacity(0%) drop-shadow(0 0 3px black);

    animation: move_arrow 0.5s linear infinite alternate forwards;

    user-select: none;
}
.Capslock_alert{
    font-size: 25px;
    font-weight: bolder;

    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;

    filter: opacity(0%);
}


@keyframes move_arrow{ /* 플레이어 위치 화살표 애니메이션 */
    from {transform: translate(-50%, 0%);}
    to {transform: translate(-50%, -20%);}
}


/* 사이트 메인 메뉴 애니메이션 */
.mainMenu{
    position: absolute;
    top: 15px;
    left: 15px;
    width: 50px; 
    height: 50px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    background: #323235;
    
    box-sizing: border-box;
    z-index: 150;
}
.mainMenu:before, .mainMenu:after{
    display: block;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 30px;
    height: 4px;
    border-radius: 2px;
    background: white;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}
.mainMenu:before{
    margin-top: -8px;
}
.mainMenu:after{
    margin-top: 4px;
}
.mainMenu.active:before{
    margin-top: -2px;
    -webkit-transform: translateX(-50%) rotate(45deg) translateZ(0);
    transform: translateX(-50%) rotate(45deg) translateZ(0);
}
.mainMenu.active:after{
    margin-top: -2px;
    -webkit-transform: translateX(-50%) rotate(-45deg) translateZ(0);
    transform: translateX(-50%) rotate(-45deg) translateZ(0);
}

/* 사이드 메뉴 내용 */
#mainMenu_contents{
    display: flex;
    flex-direction: column;

    position: absolute;
    top: 15px;
    left: 15px;
    width: 50px; 
    height: 50px;
    border-radius: 25px;
    background: #323235;
    padding-top: 50px;
    align-items: center;

    box-sizing: border-box;
    overflow-y: hidden;
    z-index: 149;

    transition: all 0.2s;
}
#mainMenu_contents div{
    display: flex;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin: 5px 0;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    background-color: #424249;
    box-shadow: 0px 0px 1px 1.5px #56565f;

    cursor: pointer;
    user-select: none;
}#mainMenu_contents div:hover{
    background-color: #3f3f46;
}#mainMenu_contents div:active{
    background-color: #3f3f46;
    box-shadow: none;
}

.Peopleshow{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 110px;
    height: 22px;

    background-color: #323235;
    border-radius: 5px;

    margin: 0 5px;
}.Peopleshow div{
    width: calc(100% - 30px);
    height: 20px;

    font-size: 15px;
    box-sizing: border-box;
}
#P_showbox{
    color: white;
}#S_showbox{
    color: red;
}#I_showbox{
    color: green;
}

#timeshow{
    width: 200px;
    height: 25px;
    background-color: #323235;
    color: white;
    border-radius: 5px;

    box-sizing: border-box;
}
#timeset{
    width: 25px;
    height: 25px;
    background-color: #1e201f;
    border-radius: 5px;
    text-align: center;

    box-shadow: 3px 0 3px -2px #1e201f;
}